<svg {% block attributes %}{% if title %}title="{{ title }}"{% endif %} role="{{ role|default('img') }}"{% if view_box %} viewBox="{{ view_box }}"{% endif %}{% endblock attributes %}>
  <use href="{{ symbol_sprite|path}}#{{ id }}"
       xlink:href="{{ symbol_sprite|path}}#{{ id }}" />
</svg>
