/**
 * Main stylesheet
 */

:root {
  --cs-c-page--FontFamily: var(--fx-global--FontFamily-sanserif);
  --cs-c-heading--FontFamily: var(--fx-global--FontFamily-fantasy);
}


body {
  font-family: var(--cs-c-page--FontFamily);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--cs-c-heading--FontFamily);
}
