/**
 * Design tokens
 */

:root {
  /**
   * Font families
   */

  /** Sans serif */
  --fx-global--FontFamily-sanserif: sans-serif;

  /** Serif */
  --fx-global--FontFamily-serif: serif;

  /** Fantasy */
  --fx-global--FontFamily-fantasy: fantasy;


  /**
   * Font weights
   */

  /** Light */
  --cs-global--FontWeight-light: 300;
  /** Regular */
  --cs-global--FontWeight-regular: 400;
  /** Medium */
  --cs-global--FontWeight-medium: 500;
  /** Semi-bold */
  --cs-global--FontWeight-semibold: 600;
  /** Bold */
  --cs-global--FontWeight-bold: 700;
  /** Extra bold */
  --cs-global--FontWeight-extrabold: 800;
}
