{% extends "@organisms-preview" %}

{% block title_tag %}{{ page_title }} | Felix{% endblock title_tag %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ '/styles/templates/default/default.css'|path }}">
{% endblock css %}

{% block js %}
  {{ super() }}
  <script src="{{ '/scripts/templates/default/default.js'|path }}"></script>
{% endblock js %}

{% block content %}
  {% include "@organisms-header" %}

  <div class="main">
    {% render "@atoms-heading", { content: page_title } %}
  </div>

  {% include "@organisms-footer" %}

{% endblock content %}
