<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default('en') }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title_tag %}{{ _target.title }} | Felix{% endblock title_tag %}</title>

    {% block meta %}{% endblock meta %}

    {% block vendor_css %}{% endblock vendor_css %}

    {% block css %}
      <link rel="stylesheet" href="{{ '/styles/main.css'|path }}">
      <link rel="stylesheet" href="{{ '/styles/components.css'|path }}">
    {% endblock css %}

    {% block extrahead %}{% endblock extrahead %}

  </head>
  <body>

    {% block content %}{{ yield|safe }}{% endblock content %}

    {% block vendor_js %}{% endblock vendor_js %}

    {% block js %}
      <script src="{{ '/scripts/main.js'|path }}"></script>
      <script src="{{ '/scripts/components.js'|path }}"></script>
    {% endblock js %}

  </body>
</html>
